{{! context: identifier }}

{{~headingDepthIncrement~}}

<h{{headingDepth}}><a name="{{{anchorName}}}">{{>name}}</a></h{{headingDepth}}>
<p>{{#md}}{{{description}}}{{/md}}</p>
<dl>
  {{#if kind}}<dt>kind</dt><dd>{{kind}}</dd>{{/if}}
  {{#if params}}<dt>params</dt><dd>{{#md}}{{#each params}}{{type.names}} {{{description}}}{{/each}}{{/md}}</dd>{{/if}}
  {{#if examples}}<dt>examples</dt><dd><code>{{#md}}{{{examples}}}{{/md}}</code></dd>{{/if}}
  {{#if memberof}}<dt>memberof</dt><dd><code>{{#md}}{{scope}} {{kind}} of {{linkTo memberof}}{{/md}}</code></dd>{{/if}}
</dl>

{{#each (children sortBy="scope,kind")~}}
  {{>identifier~}}
{{/each~}}

{{headingDepthDecrement~}}