{{! context: identifier }}

{{~headingDepthIncrement~}}

<h{{headingDepth}}><a name="{{{anchorName}}}">{{>name}}</a></h{{headingDepth}}>
{{#md}}{{{linkify description}}}{{/md}}
<dl>
  {{#if kind}}<dt>kind</dt><dd>{{kind}}</dd>{{/if}}
  {{#if params}}
  <dt>params</dt>
  <dd>
    {{#each params}}
    {{#if @first}}<ul>{{/if}}
    <li>{{name}} <code>{{type.names}}</code> {{#md2}}{{{linkify description}}}{{/md2}}</li>
    {{#if @last}}</ul>{{/if}}
    {{/each}}
  </dd>
  {{/if}}
  {{#if examples}}<dt>examples</dt><dd><code>{{#md}}{{{examples}}}{{/md}}</code></dd>{{/if}}
  {{#if memberof}}<dt>memberof</dt><dd><code>{{#md2}}{{scope}} {{kind}} of {{linkTo memberof}}{{/md2}}</code></dd>{{/if}}
</dl>

{{#each (children sortBy="scope,kind")~}}
{{>identifier~}}
{{/each~}}

{{headingDepthDecrement~}}