{{! usage: linked-type input=namepath html=true/false ~}}

<code>
{{~#if html~}}

{{#link input~}}
{{#if url~}}
<a href="{{{url}}}">{{name}}</a>
{{~else~}}
{{name~}}
{{/if~}}
{{/link~}}

{{else~}}

{{#link input~}}
{{#if url~}}
[{{escape name}}]({{{url}}})
{{~else~}}
{{escape name~}}
{{/if~}}
{{/link~}}

{{/if~}}
</code>